body {
  font-family: Arial;
  background: #0b132b;
  color: white;
  margin: 0;
  text-align: center;
}

/* HEADER */
.header {
  background: #1c2541;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}

/* BETA BADGE */
.beta {
  background: red;
  color: white;
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 5px;
  margin-left: 5px;
}

/* AUTH BOX */
.auth-box {
  margin: 40px auto;
  width: 300px;
}

/* INPUTS */
input, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: none;
}

/* BUTTONS */
button {
  padding: 10px;
  margin: 5px;
  background: #5bc0be;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* POST BOX */
.post-box {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
}

/* POSTS */
.post {
  background: #1c2541;
  margin: 15px auto;
  padding: 15px;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  text-align: left;
}
